@{
    ViewData["Title"] = "Home Page";
}





@section Css {
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />

}
<div class="row">
    <div class="col-md-6">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.ProductListPartialViewModel"></partial>
    </div>
</div>
