@{
    ViewData["Title"] = "Home Page";
}





@section Css {
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />

}
<div class="row">
    <div class="col-md-4">

        @await Component.InvokeAsync("ProductList", new {type =1})

    </div>
</div>
