@{
    ViewData["Title"] = "Home Page";

    var product = new Product() { Id = 1, Name = "Saat", Color = "Blue", Price = 445, Stock = 12 };

}


@section Css {
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />

}
<div class="row">
    <div class="col-md-4">
        @*     1.yol
        *@       @*  @await Component.InvokeAsync("ProductList", new {type =1}) *@

        @*  <vc:product-list type="4"></vc:product-list> *@


        <h3><italic>Products</italic></h3>
        <product-show product="@product"></product-show>

    </div>
    <div class="col-md-4 mt-5">
       
        <imgth image-src="/images/saat.jpg"></imgth>
  
    </div>
</div>

