@{
    ViewData["Title"] = "Add";
}

@model ProductViewModel

<h1>Yeni ürün ekleme</h1>

<style>
    .cssbuttons-io {
        position: relative;
        font-family: inherit;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        border-radius: 0.8em;
        cursor: pointer;
        border: none;
        background: linear-gradient(to right, #8e2de2, #4a00e0);
        color: ghostwhite;
        overflow: hidden;
    }


        .cssbuttons-io span {
            position: relative;
            z-index: 10;
            transition: color 0.4s;
            display: inline-flex;
            align-items: center;
            padding: 0.8em 1.2em 0.8em 1.05em;
        }

        .cssbuttons-io::before,
        .cssbuttons-io::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .cssbuttons-io::before {
            content: "";
            background: #000;
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        }

        .cssbuttons-io:hover::before {
            transform: translate3d(100%, 0, 0);
        }

        .cssbuttons-io:active {
            transform: scale(0.95);
        }

</style>
<form asp-controller="Products" asp-action="Add"
      method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyat</label>
        <input class="form-control" asp-for="Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <br />
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok</label>
        <input type="number" class="form-control" asp-for="Stock" />
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>
    <br />
    <div class="mb-3">
        <select asp-for="Color" class="form-select" aria-label="Ürün Rengi">
            <option selected>Ürün Rengi</option>
            @foreach (var item in ViewBag.Color as Dictionary<int, string>)
            {
                <option>@item.Value</option>
            }

        </select>
    </div>
    <br />
    <div class="form-floating">
        <textarea class="form-control" asp-for="Description"></textarea>
        <label asp-for="Description">Comments</label>
    </div>
    <br />
    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Onayla
        </label>
    </div>
    <br />

    <div class="mb-3 mt-3">
        <span>Ürün kaç ay satışta kalacak?</span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">
                <input class="form-check-input" asp-for="Expire" type="radio" value="@item.Value" id="Expire{@item.Value}">
                <label class="form-check-label" for="Expire{@item.Value}">
                    @item.Key
                </label>
            </div>
        }
    </div>
    <br />
    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Ürün Yayın Tarihi</label>
        <input class="form-control" asp-for="PublishDate" />
    </div>
    <br />
    <button class="cssbuttons-io" type="submit">
        <span>
            Ürünü kaydet
        </span>
    </button>


</form>

