
@{
    ViewData["Title"] = "Add";
}

@model Product 

<h1>Yeni ürün ekleme</h1>


<form asp-controller="Products" asp-action="SaveProduct" 
method="post">
    <label>Ürün İsmi : </label>
    <input type="text" asp-for="Name" />
    <br />
    <label>Ürün Fiyat : </label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok : </label>
    <input type="text" asp-for="Stock" />
    <br />
    <label>Ürün Rengi : </label>
    <input type="text" asp-for="Color" />
    <br />

    <button type="submit">Ürünü kaydet</button>

</form>

