
@{
    ViewData["Title"] = "Update";
}

@model Product

<h1>Ürün Güncelleme</h1>


<form asp-controller="Products" asp-action="Update"
      method="post">

      <input type="hidden" asp-for="Id" />

    <label>Ürün İsmi : </label>
    <input type="text" asp-for="Name" />
    <br />
    <label>Ürün Fiyat : </label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok : </label>
    <input type="text" asp-for="Stock" />
    <br />
    <label>Ürün Rengi : </label>
    <input type="text" asp-for="Color" />
    <br />

    <button type="submit">Ürünü Güncelle</button>

</form>

